<div class="jumbotron center">
	<h1>Welcome to Pinteresting</h1>
	<h2>
		Please 
		<%= link_to new_user_session_path, class: "btn btn-success btn-lg" do  %>
		<span class="glyphicon glyphicon-log-in"></span> Sign in
		<% end %> to continue.
	</h2>
</div>

