<div class="panel panel-default center">
	<div class="panel-heading">
		<h1>About Us</h1>
	</div>
	<div class="panel-body">
		<p>We are working on our app!</p>
	</div>
	<div class="panel-footer">
		<small>© 2016, all rights reserved</small>
	</div>
</div>
