<div class="jumbotron center">
	<h1>Welcome to my app!</h1>

	<% if user_signed_in? %>
	<p> 
		<%= current_user.email %>
	</p>
	<p>
		<%= link_to pins_path, class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-eye-open"></span> Show Pins
		<% end %>
	</p>
	<% else %>
		<p>Please sign in to use this site</p>
	<% end %>
</div>

